.div_documen {
    background: #fff;
    width: 98%;
    min-height: 10vh;
    padding: 2%;
}

.p_size_1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.375rem;
    border-left: 1px solid #eee;
    padding-left: 1%;
}

.p_size_2 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .975rem;
}

.p_size_3 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: .975rem;
	font-weight: 500;
}

.img_size_1 {
	width: 50%;
    margin: auto;
}

.img_size_1:hover{
	width: 100%;
}

.code_p_1 {
	width: 40%;
    background: #eef3fd;
    padding: 3px;
    border: 1px solid #eee;
    color: #545879;
    /* margin: 1px; */
    font-size: 15px;
    font-weight: bold;
}